* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
      font-family: river;
      src: url(fonts/river.ttf);
    }
  body {
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .logo img {
      height: 300px; }
  
  img {
    width: 80%;
    margin-bottom: 10px;
    
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  .input {
    width: 50% !important;
  }
  h1 {
    color: rgb(236, 220, 207);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
  }
  .seleccion {
    text-align: center;
  }
  #selecTalles {
    width: 50%;
  }
  #boton-carrito {
    border: none;
    color: rgb(7, 7, 7);
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all 0.3s;
  }
  #boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 76, 65);
  }
  #boton-carrito:focus {
    outline: none;
  }
  
  #contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  p {
    line-height: 1.8;
  }
  .producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  }
  
  select {
    display: inline;
    text-align: center;
    border: 1px solid rgb(8, 8, 8);
  }
  .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  
  .modal-carrito {
    position: relative;
    background-color: white;
    border: 1px solid rgb(18, 19, 18);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all 0.5s;
  }
  
  .modal-active .modal-carrito {
    margin-top: 0;
  }
  
  .modal-carrito h3 {
    color: rgb(10, 10, 10);
    padding-bottom: 5px;
  }
  .modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(10, 10, 10);
    border: none;
    background-color: white;
  }
  .modal-carrito #carritoCerrar:hover {
    cursor: pointer;
  }
  .modal-carrito #carritoCerrar:focus {
    outline: none;
  }
  .modal-carrito .precioProducto {
    padding-top: 10px;
  }
  .card .card-image .card-title {
    color: rgb(10, 10, 10);
    position: unset;
  }
  
  .productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }
  .productoEnCarrito:hover {
    border-left: 5px solid rgb(225, 76, 65);
  }
  
  .boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
  }
  
  .boton-eliminar:hover {
    cursor: pointer;
  }
  .boton-eliminar:focus {
    outline: none;
  }
  /*page login*/
  body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
  }
  *,:after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:inherit;text-decoration:none}
  
  .login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background-color: #e2d1c3;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(23, 23, 24, 0.9);
  }
  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
  }
  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#272583;
  }
  .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100% !important;
    color:#fff;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(212, 121, 121, 0.1);
  }
  .login-form .group input[data-type="password"]{
    text-decoration:circle;
    
  }
  .login-form .group .label{
    color:#aaa;
    font-size:12px;
  }
  .login-form .group .button{
    background:#272583;
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#fff;
  }
  .login-form .group .check:checked + label .icon{
    background:#272583;
  }
  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }
  
  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
  }
  .foot-lnk{
    text-align:center;
  }
